:root {
  font-family: Public sans, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  font-family:  'Dejavu sans';
}

.error {
  color: red;
  background-color: lightgray;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.success {
  color: green;
  background-color: lightgray;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.contact span {
  margin-right: 10px;
}

#message {
  padding: 5px;
  color: red;
  border-radius: 10px;
  border: 3px solid red;
  background-color: #e5e4e4;
  margin: 20px 0;
}