.vscode
**/node_modules

**/.env

# JSX files for learning examples, referenced as App.jsx
part2/phonebook/src/Appp.jsx  
part2/countries/src/Appp.jsx

part2/phonebook/src/services/notes2.js

**/index.js
**/requests

part2/Notes
Notes App Backend